q4)
public class loops {
	public static void main(String args[])
	{
	int	i=1;
while(i<10)
{
	i++;
	
System.out.println(i);
}
	}
}


q5)public class loops {
	public static void main(String args[])
	{
	int	i=10;
while(i>1)
{
	i--;
	
System.out.println(i);
}
	}
}
	
  
  
  
  q6)
  public class loops {
	public static void main(String args[])
	{
	int	i=0;
while(i<10)
{
	i=i+2;
	
System.out.println(i);
}
	}
}
	
	public class forloop {

	public static void main(String[] args) {
		int t=2;
		for(int i=1;i<=5;i++)
		{
		
			
			System.out.println(t*i);
		}

	}

}




q7)public class forloop {

	public static void main(String[] args) {
		int t=2;
		for(int i=10;i>=1;i--)
		{
		
			
			System.out.println(t*i);
		}

	}

}



public class loops {
	public static void main(String args[])
	{
	int	i=10;
while(i>1)
{
	i--;
	
	
System.out.println(i*2);
}
	}
}



q8)
import java.util.Scanner;
public class primenumber {
	public static void main( String args[])
	{
		Scanner s= new Scanner(System.in);
		System.out.println("enter the number");
		int num=s.nextInt();
		int temp=0;
		for(int i=2;i<=num-1;i++)
		{
			if(num%i==0)
			{
			temp=temp+1;
			}
			
		}
			if(temp==0)
			{
				System.out.println("prime number");
			}
			else
			{
				System.out.println("not a prime number");
		}
				
			}
		}
    
    q9)public class power {

	public static void main(String[] args) {
		int base = 3, exponent = 4;

	    long result = 1;

	    while (exponent != 0) {
	      result *= base;
	      --exponent;
	    }

	    System.out.println("Answer = " + result);
	  }
	

	}

q10)import java.util.Scanner;     
public class sum {

	public static void main(String[] args) {
		
	
		int num, i, sum = 0;  
		Scanner sc = new Scanner(System.in);  
		System.out.print("Sum from= ");  
		i = sc.nextInt();  
		System.out.print("Sum up to= ");  
		num = sc.nextInt();  
		while(i <= num)  
		{  
		sum = sum + i;    
		i++;  
		}
		System.out.println("Sum of  Numbers = " + sum);  
	}  
		
